/* Hide analytics */
#views_graph {
  display: none!important;
}
#downloads_graph {
  display: none!important;
}
.notifications_bell {
  display: none!important;
}
.notifications_bubble {
  display: none!important;
}
.stat_header_widget {
  display: none!important;
}
